## CREATE TABLE

Used to create a new table in a database.

Syntax
```mysql
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
);
```

Constraints can be specified when the table is created with the CREATE TABLE statement, or after the table is created with the ALTER TABLE statement.

Option 1

```mysql
CREATE TABLE table_name (
    column1 datatype constraint,
    column2 datatype constraint,
    column3 datatype constraint,
    ....
);
```

Option 2

```mysql
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
    constraint1,
    constraint2,
    ....
);
```

## INSERT INTO

Used to insert new records in a table.

Syntax

```mysql
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);
```

> __Example:__ Create _Product_ table and insert some data

> In this notebook we use SQL Magic for Python (https://github.com/catherinedevlin/ipython-sql)

> There are several online options, for example
https://sqliteonline.com/

In [ ]:
%load_ext sql       
# Connect to an empty SQLite database
%sql sqlite://

In [ ]:
%sql SELECT name FROM sqlite_master WHERE type='table';

In [ ]:
%%sql
DROP TABLE IF EXISTS Product;
CREATE TABLE Product (
    PName VARCHAR(255) NOT NULL PRIMARY KEY, 
    Price FLOAT, 
    Category VARCHAR(255), 
    Manufacturer VARCHAR(255)
);
INSERT INTO Product VALUES ('Gizmo', 19.99, 'Gadgets', 'Gizmo Works');
INSERT INTO Product VALUES ('Powergizmo', 29.99, 'Gadgets', 'Gizmo Works');
INSERT INTO Product VALUES ('SingleTouch', 149.99, 'Photography', 'Canon');
INSERT INTO Product VALUES ('MultiTouch', 203.99, 'Household', 'Hitachi');

In [ ]:
# Find tables in the database
%sql SELECT name FROM sqlite_master WHERE type='table';

# Single-Table Queries

In this section
1. The SFW Query
2. Other useful operators: LIKE, DISTINCT, ORDER BY

### SQL Query

* Basic form --> __SFW__ query

```mysql
SELECT <attributes>
FROM <relations>
WHERE <conditions>
```

In [ ]:
%%sql  -- Whithout WHERE, the query returns all data in the table(s) defined in FROM
SELECT *
FROM Product;

## SELECT

__Selection__ is the operation of filtering tuples in a relation on some condition

Syntax

```mysql
SELECT column1, column2, ...
FROM table_name
WHERE condition;
```

> __Example:__ Select all the tuples from _Product_ with category 'Gadgets'

In [ ]:
%%sql  -- Tuples in 'Gadgets'
SELECT *
FROM Product
WHERE Category = 'Gadgets';

### Projection

The operation of producing an output table with tuples that have a subset of their prior attributes.

> __Example:__ In the previous example, the attribute "Category" is redundant, remove it from the result.

In [ ]:
%%sql
SELECT PName, Price, Manufacturer 
FROM Product
WHERE Category = 'Gadgets';

_Input schema:_ Product(PName, Price, Category, Manufacturer)

_Output schema:_ Answer(PName, Price, Manufacturer)

### To consider
* SQL __commands__ are __NOT__ case sensitive
  * __Same:__ SELECT, Select, select
  * __Different:__ Product, product


* __Values__ are case sensitive
  * __Different:__ 'Seatle', 'seatle'


* __S__ingle quotes are for __S__trings, __D__ouble quotes are for __D__atabase identifiers

## Other WHERE Clause Conditions

__Equality__
* = (equal)
* <> (not equal)

__Range__
* \> (greater than)
* \>=  (greater than or equal to)
* < (less than)
* <= (less than or equal to)
* BETWEEN

__Membership__
* IN (matches values in a list or subquery)

## LIKE

Simple String pattern matching

Syntax

```mysql
SELECT column1, column2, ...
FROM table_name
WHERE columnN LIKE pattern;
```

There are two wildcards used in conjunction with the LIKE operator
* __%__ (percent) any sequence of characters
* __\___ (underscore) any single character

In [ ]:
%%sql
SELECT *
FROM   Product
WHERE  PName LIKE '%gizmo%';

## DISTINCT

Remove duplicates from query results

Syntax

```mysql
SELECT DISTINCT column1, column2, ...
FROM table_name;
```

> __Example:__ Show categories in _ Product_

In [ ]:
%%sql
SELECT Category
FROM   Product;

> __Example:__ Show __distinct__ categories in _Products_

In [ ]:
%%sql
SELECT DISTINCT Category
FROM Product;

## ORDER BY

To sort results

Syntax

```mysql
SELECT column1, column2, ...
FROM table_name
ORDER BY column1, column2, ... ASC|DESC;
```

* Ties are broken by the second attribute on the ORDER BY list
* Default ordering is _Ascending_

> __Example:__ Get entries from _Product_ where category is not 'Gadgets' and price is bellow 50. Sorte results by price and name.

In [ ]:
%%sql
SELECT PName, Price, Manufacturer
FROM Product
WHERE Category != 'Gadgets' and Price > 50
ORDER BY Price, PName

___

In [32]:
# Modify the css style
from IPython.core.display import HTML
def css_styling():
    styles = open("./style/custom.css").read()
    return HTML(styles)
css_styling()